<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="APA AFTER-NIGHT" content="BUSCADOR DE TELOS, TELOS SEARCH ENGINE, TELOS ARGENTINA, ARGENTINA, CABA, TELOS-CABA">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('../partials/head'); %>
        <link rel='stylesheet' href='/stylesheets/style.css' type="text/css" />
        <link rel='stylesheet' href='/stylesheets/style_login.css' type="text/css" />
        <!--FONT AWESOME  -->
        <script src="https://kit.fontawesome.com/0c502158eb.js " crossorigin="anonymous "></script>
        <title>APA!
            <%= title ;%>
        </title>

</head>

<body class="bodyPage bg-light bg-01">
    <%- include('../partials/navbarTop'); %>
        <div class="div2 bg-01">
            <div class="container  w-75  bg-light mt-5 rounded shadow bg-01">
                <div class="row align-items-stretch bg-01">
                    <div class="col bg d-none d-lg-block col-md-6 col-lg-5 col-xl-6 rounded bg-01">
                        <a data-flickr-embed="true" href="https://www.flickr.com/photos/195051273@N06/51886235851/in/album-72177720296743488/lightbox/" title="img_login"><img src="https://live.staticflickr.com/65535/51886235851_9108aaa384_o.png" width="372" height="613" alt="img_login"></a>
                        <script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
                    </div>
                    <div class="col bg-light col-login ">
                        <div class="py-5 ">
                            <div class="text-center ">
                                <h2 class="text-custom "><span class="brand-name ">APA!</span> LOGIN</h2>
                            </div>
                        </div>
                        <!-- POST PARA CREAR NUEVO REGISTRO,  -->
                        <form class="user " method="POST" action="dashboardUser.ejs">
                            <div class="form-group ">
                                <input type="email " class="form-control form-control-user " id="exampleInputEmail " aria-describedby="emailHe " placeholder="Ingrese Usuario ">
                            </div>
                            <div class="form-group ">
                                <input type="password " class="form-control form-control-user " id="exampleInputPassword " placeholder="Password ">
                            </div>
                            <div class="form-group ">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="clickLogin">
                                    <label class="form-check-label" for="clickLogin">
                            Mantener LOGUEADO
                    </div>
                    <a href="/miCuenta " class="btn btn-primary btn-block ">
                        Login
                    </a>
                    <a class="small " href="/forgotPassword ">Olvidaste CONTRASEÑA?</a>
                    <hr>
                    <div class="container w-10 my-5 ">
                        <div class="row text-center ">
            </form>
        </div>
        <div class="text-center ">
        <h3 class="nuevoSocio">NUEVO SOCIO?</h3>
        <a type="button" href="/usuarios/crearCuenta" class="btn btn-primary btn-lg btnCustom">CREAR Cuenta</a>
        </div>

    </div>

</div>

</div>


            <%- include('../partials/navbarBottom'); %>

</body>

</html>